<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="75">
  <server agentAutoRegisterKey="{{ gocd_agent_autoregister_key }}" artifactsdir="artifacts" commandRepositoryLocation="default" serverId="21494824-6fbf-454a-82c8-5efcea70fdea" />
</cruise>
